
.admin{
    overflow: auto;
    height: max-content;
    padding: 50px 70px 0;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}
.admin main{
    margin: 80px auto;
}
.standard-hover{
    cursor: pointer;
    transition: 0.3s;
}
.standard-hover:hover{
    background-color: rgba(68, 170, 83, 0.46);
}
.stats{
    gap: 20px;
    padding: 0 ;
    margin: 30px 0;
}
.stats div{
    gap:20px;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 currentColor;
    margin: 0;
    height: 90px;
}
.stats p{
    color: gray;
}
.stats svg{
    stroke: var(--main-color);
}
.block{
    display: block;
}
.bet{
    justify-content: flex-between;
}
.stand-wait{
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 0 0 1px 0 currentColor;
}
.box-s{
    box-shadow: 0 0 1px 0 currentColor;
}
.approved, .commands{
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 0 1px 0 currentColor;
}
.approved{
    padding: 20px;
}
.w-mc{
    width: max-content;
}
.w-100{
    width: 100%;
}
.p-10{
    padding: 10px;
}
.px-10{
    padding-inline: 10px;
}
.py-10{
    padding-block: 10px;
}
.p-5{
    padding: 5px;
}
.m-10{
    margin: 10px auto;
}
.just-start{
    justify-content: start;
}
.just-self-start{
    justify-self: start;
}
.column{
    flex-direction: column;
}
.modale{
    position: fixed;
    height: 100px;
    width: 300px;
    top: calc((100vh - 200px)/2);
    left:calc((100vw - 300px)/2) ;
    box-shadow: 0 0 10px 0 currentColor;
}

.nav2 a{
    padding: 2px 2px 5px;
    border-radius: 5px;
    display: block;
    width: 33%;
    color: gray;
}
.nav2{
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    box-shadow: 0 0 1px 0 currentColor;
    border-radius: 5px;
}
.nav2 svg{
    transform: scale(0.8) translateY(5px);
}

.flag{
    padding: 1px 10px; 
    transform: scale(0.8); 
    border-radius: 20px; 
    border: solid 0.5px gray; 
    background: rgba(24, 23, 23, 0.23);
}
.description{
    margin: 10px;
}
.bord-10{
    border-radius: 10px;
}
.bord-5{
    border-radius: 5px;
}
.bet{
    justify-content: space-between;
}

.stand-wait button{
    width: 50%;
    border-radius: 10px;
    padding: 10px; 
}

.title{
    margin: 20px 0;
}

.admin button{
    border: none;
    outline: none;
}

a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.text-c{
    text-align: center;
}

.button{
    color: white; 
    font-weight: 600; 
}